<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confiramation email</title>
</head>
<body>
    <h1>Hi, {{name}} Welcome to customer service</h1>

    <p>Please verify your email in order to get access</p>

    <a href={{url}} target="_blank">
        <button class="button">VERIFY EMAIL</button>
    </a>
</body>
</html>